.BookmarkCard {
  display: flex;
  justify-content: space-between;

  &-ImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 0 rem-calc(10) 0 0;

    img,
    svg {
      width: 100%;
      height: auto;
    }
  }

  &-InfosContainer {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-InfosWrapper {
    display: flex;
    justify-content: space-between;
  }

  &-Infos {
    overflow: hidden;
    width: 100%;
  }

  &-Title {
    margin-bottom: rem-calc(2);
  }

  &-Author {
    color: color(grey, dark);
    font-style: italic;
    margin-bottom: rem-calc(2);
  }

  &-Url {
    display: block;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: rem-calc(2);
  }

  &-Tags {
    margin-top: rem-calc(6);
  }

  &-Tag {
    display: inline-block;
    padding: rem-calc(5);
    margin-right: rem-calc(5);
    margin-bottom: rem-calc(5);
    background-color: color(grey, light);
    border-radius: $global-radius;
    font-size: rem-calc(12);
  }

  &-Actions {
    a,
    button {
      display: block;
      padding: rem-calc(5);
      cursor: pointer;
      outline: 0;
    }
  }

  // Search highlight
  em {
    font-style: inherit;
    background-color: yellow;
  }

  @include breakpoint(small only) {
    flex-direction: column;
    &-ImageContainer {
      width: 100%;
      padding: 0 0 rem-calc(10) 0;

      &.noimage {
        display: none;
      }
    }

    &-InfosContainer {
      width: 100%;
    }
  }

  &.stub &-InfosWrapper {
    display: block;
  }

  &.stub &-Title,
  &.stub &-Author,
  &.stub &-Url {
    background-color: color(grey, light);
    color: color(grey, light);
    &::before {
      content: 'stub';
    }
  }

  &.stub &-Title {
    max-width: 80%;
  }

  &.stub &-Author {
    max-width: 50%;
  }

  &.stub &-Url {
    max-width: 90%;
  }
}
