.react-tagsinput {
  @include form-element;
  padding: 0;
  height: auto;

  &--focused {
    border: $input-border-focus;
  }

  &-tag {
    background-color: color(grey, light);
    border-radius: $global-radius;
    display: inline-block;
    padding: rem-calc(5) rem-calc(4);
    margin: rem-calc(2) rem-calc(3);

    a::before {
      content: ' ×';
    }
  }

  &-remove {
    cursor: pointer;
    font-weight: bold;
  }

  &-input {
    display: inline-block;
    border: 0;
    padding: rem-calc(5) rem-calc(4);
    margin: rem-calc(2) rem-calc(3);
    width: auto;
    height: auto;
    min-width: rem-calc(100);

    &:focus {
      border: 0;
    }
  }
}
